*/*/config.old
*/*/rootfs_config.old
build/
images/linux/
.petalinux/*
!.petalinux/metadata
*.o
*.jou
*.log
*.bxml
project-spec/meta-plnx-generated/
/components/plnx_workspace
hardware/PlusUltra/PlusUltra.cache/
hardware/PlusUltra/PlusUltra.runs/
hardware/PlusUltra/PlusUltra.hw/
hardware/PlusUltra/PlusUltra.ip_user_files/
hardware/PlusUltra/PlusUltra.srcs/sources_1/bd/design_1/hdl/
hardware/PlusUltra/PlusUltra.srcs/sources_1/bd/design_1/ip/
hardware/PlusUltra/PlusUltra.srcs/sources_1/bd/design_1/sim/
hardware/PlusUltra/PlusUltra.srcs/sources_1/bd/design_1/synth/
hardware/PlusUltra/PlusUltra.srcs/sources_1/bd/design_1/ipshared/
hardware/PlusUltra/PlusUltra.srcs/sources_1/bd/design_1/hw_handoff/
